[Unit]
Description=Network Configuration
After=systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'ip addr replace 192.168.1.100/24 dev eth0; ip link set eth0 up; ip route add default via 192.168.1.1'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
